<form role="form" id = "registration_form" class="form-horizontal" action = "{$action_form_1}" method="POST" enctype="multipart/form-data">
    {include file="modules/addons/belgie//views/requests/parts/table.tpl"}
    <div class="form-actions form-actions-client text-center">
        <input class="btn btn-blue btn-large" type="submit" name="registrant_submit" value="Отправить сведения в БелГИЭ" id="reg-input"/>
    </div>
</form>